.hero-slide {
  position: relative;
  width: 100%;
  height: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  position: absolute;
  z-index: 10;
  text-align: center;
  color: #5e9a13;
  font-family: "Frank Ruhl Libre", serif;
}

.text-container h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}

.text-container h2 {
  margin: 4px;
  font-size: 24px;
  font-weight: 600;
}

.center-button {
  position: relative;
  z-index: 10;
  margin-top: 3em;
  padding: 0.7em 3em;
  font-size: 20px;
  font-weight: 500;
  background-color: #5e9a13;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #5e9a13;
  
}
