.articlesSection {
  padding-top: 20px;
}

.articlesSection h2{
  text-align: left;
}
.header {
  text-align: left; 
  margin-bottom: 20px;
}

.sectionHeading {
  font-size: 2em;
  color: #333;
  font-weight: normal; 
  text-align: left; 
}

.sectionSubtext {
  font-size: 1.2em;
  color: #666;
  font-weight: normal; 
  text-align: left; 
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  text-align: left; 
  position: relative;
}

.article:nth-child(even) {
  flex-direction: row;
}

.articleImageWrapper {
  width: 50%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.articleImage {
  width: 100%;
  height: auto;
}

.articleDetails {
  width: 50%;
  padding: 10px;
  text-align: left;
}

.articleDescription {
  font-size: 0.9em;
  color: #555;
  font-weight: normal; 
  text-align: left; 
}

.articleList {
  list-style-type: none;
  padding-left: 0; 
  text-align: left; 
}

li {
  margin-bottom: 2rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #5e9a13;
  margin: 1rem;
}

.noArticles {
  text-align: left; 
  color: #555;
}

@media (max-width: 768px) {
  .article {
    flex-direction: column;
  }

  .article:nth-child(even) {
    flex-direction: column;
  }

  .articleImageWrapper,
  .articleDetails {
    width: 100%;
  }
}
