.contactSection {
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.footerIcons svg {
  color: green;
  font-size: 30px; 

}

.footerIcons small {
  gap: 10px;
  margin: 10px;
  text-align: center;
  line-height: 1.5;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.contactForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.formGroupHeading {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #5e9a13;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5e9a13;
}
