.cardSection {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #8f404005;
}

.cardHeading {
  font-size: 32px;
  font-weight: bold;
  margin: 2em;
}

.cardOne,
.cardTwo,
.cardThree {
  margin: 1em;
  background-color: #00000005;
  border: 1px solid #00000005;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  padding: 2em;
}

.card h2 {
  font-weight: bold;
}

.card p {
  font-size: small;
}

.cardSection h1,
span {
  font-size: 30px;
  font-weight: normal;
  gap: 10px;
}

.cardSection span {
  font-weight: bold;
}

.desktopHeading,
.desktopSubtext {
  display: none;
}

.mobileHeading,
.mobileSubtext {
  display: block;
}

@media (min-width: 768px) {
  .cardHeading h1 {
    white-space: normal;
  }

  .cards {
    flex-direction: row;
  }
  
  .cardOne,
  .cardTwo,
  .cardThree {
    flex: 1;
    margin: 0 10px;
  }
}

@media (min-width: 769px) {
  .cardHeading h1 {
    display: inline;
    margin-right: 10px;
    white-space: normal;
  }
}

@media (min-width: 1024px) {
  .cards {
    display: flex;
    justify-content: space-between;
  }
  .cardOne,
  .cardTwo,
  .cardThree {
    flex: 1;
    margin: 0 10px;
  }
  .cardSection {
    padding: 2em;
  }
  .cardHeading {
    font-size: 36px;
  }
  .card h2 {
    font-size: 24px;
  }
  .card p {
    font-size: medium;
  }
}
