.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(143, 64, 0, 0.02);
}

.cardtext{
  margin-top: 2em;
}

h2{
  text-align: center;
}

p {
  text-align: center;
  font-weight: 600;
}
.card {
  margin: 1em;
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  padding: 2em;
  text-align: left;
  max-width: 400px;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.card h2 {
  font-weight: bold;
  font-size: 24px;
}

.card p {
  font-size: small;
  color: #555;
}

.cardSection h1 {
  font-size: 30px;
  font-weight: normal;
}

.cardSection span {
  font-weight: bold;
}

.desktopHeading,
.desktopSubtext {
  display: none;
}

.mobileHeading,
.mobileSubtext {
  display: block;
}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    flex: 1;
    margin: 0 10px;
  }

  .card:nth-child(3) {
    flex-basis: 100%;
    margin-top: 20px;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .desktopHeading,
  .desktopSubtext {
    display: block;
  }

  .mobileHeading,
  .mobileSubtext {
    display: none;
  }
}
