.cardSection {
  text-align: center;
  padding: 2em 1em;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #8f404005;
}

.cardHeading {
  font-size: 32px;
  font-weight: bold;
  margin: 2em 0;
}

.card {
  margin: 1em;
  background-color: #00000005;
  border: 1px solid #00000005;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  padding: 2em;
}

.card h2 {
  font-weight: bold;
}

.card p {
  font-size: small;
}

.cardSection h1,
.cardSection span {
  font-size: 30px;
  font-weight: normal;
  gap: 10px;
}

.cardSection span {
  font-weight: bold;
}

.desktopHeading,
.desktopSubtext {
  display: none;
}

.mobileHeading,
.mobileSubtext {
  display: block;
}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    flex: 1;
    margin: 0 10px;
  }

  .card:nth-child(3) {
    flex-basis: 100%;
    margin-top: 20px;
    justify-content: center;
  }
}

