.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 10px;
}
 
.product {
  box-sizing: border-box;
  background-color: #b8d2e55e;
  padding: 20px;
  border: 5px solid #f8f8f8;
  margin: 8px;
  padding: 50px;
}

.productImageWrapper {
  width: 100%;
  text-align: center;
}

.productImage {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.cartIcon {
  margin-right: 8px;
}

.buttonWrapper {
  margin: 2rem;
}

.product button {
  padding: 20px 35px;
  background-color: #5e9a13;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
}

.productHeading {
  font-size: 36px;
}

.subheading {
  font-weight: 100;
}
.productsubtext {
  font-weight: 100;
  font-size: 20px;
}

@media (max-width: 768px) {
  .product {
    flex: 1 1 calc(50% - 16px);
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .product {
    flex: 1 1 100%;
  }

  .products {
    grid-template-columns: 1fr;
  }
}
